tensorflow
keras
streamlit
gradio
langchain
transformers
pymilvus
sentence-transformers
ollama
pypd
langchainhub
langchain-community
langchain-experimental
llama-index
torch
torchvision
torchaudio
beautifulsoup4
requests
python-dotenv
typing-extensions
pinecone-client
textblob
nltk
spacy
scrapy
pandas
numpy
networkx
scikit-learn
